
<div class="col-lg-6" style="margin-left:24%; margin-right:26%;">
    <div class="well bs-component" >
        <h3 style="text-align:center; color: red;">Prawdopodobnie coś nie pykło, spróbuj jeszcze raz</h3>
        <h1 style="text-align:center">
            Zaloguj się
        </h1>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.error_notification %>


        <%= f.input :login ,:label => 'Nickname lub email', required: true, autofocus: true, input_html: { class: "form-control",} %>
        <%= f.input :password,:label => 'Hasło', required: true %>
        <%= f.input :remember_me,:label => 'Zapamiętaj mnie', as: :boolean if devise_mapping.rememberable? %>
        


        <div style="text-align:right">
        <%= link_to new_user_registration_path do %>
        <button class="btn btn-default">
          Nie masz konta?
        </button>
        <%end%>

        <%= link_to new_user_password_path do %>
        <button class="btn btn-default">
          Zapomniałeś czegoś ?
        </button>
        <%end%>
        <%= f.button :submit, "Zaloguj się" %>
</div>

        <% end %>

    </div>
</div>
