<div class="row">
    <div class="container" style="width: 80%">
      <div class="jumbotron" style="padding-top: 10px; padding-bottom: 10px;">
          <div class="page-header">
                <div style="float: right;">
                  <%  if require_admin? %>
                  <%= link_to 'Nowy post', new_post_path, class: 'btn btn-info btn-lg' %>
                  <%  end %>
                </div>
              <h1>Ćwiczenia <small>       Pomogą Ci w staniu się lepszym</small></h1>
      
           </div>
      </div>
    </div>
  <div class="container">
      <div style="table-responsive">

          <tbody>
            
            <% @posts.each  do |post| %>
        <div class="jumbotron">
            <div style="float:right;">
              Dodany: <%= l post.created_at, format: '%H:%M:%S , %d %B %Y' %>
            </div>
            <h1><%= post.name %></h1>
            <h3><%= post.title %></h3>
            <hr>
            <p><%= truncate post.content, length: 160 %></p>
            <%  if require_admin? %>
                  <div style="float:right;">
                    <p><%= link_to 'Edit', edit_post_path(post), class: 'btn btn-primary btn-sm' %></p>
                    <p><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></p>
                  </div>
            <%  end %>
            <p><%= link_to 'Dowiedz się więcej', post, class: 'btn btn-primary btn-lg' %></p>
            </div>
            <% end %>
        
          </tbody>
        </table>
        <br>
      </div>

  </div>
</div>






